// Styling for the call to action section
@media(max-width: 500px) {
  .call-to-action h2 {
      margin: 0 auto 20px;
      font-size: 15px;
      line-height: 1.8;
  }
}
@media(min-width: 501px) {
.call-to-action {
  padding: 20px 0 0 0;
    h2 {
      margin: 0 auto 20px;
    }
  }
}
.map {
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}