// Styling for the masthead
header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../img/header2.jpg');
  background-position: center;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 24px 0 !important;
    .header-content-inner {
      h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: fade-out(white, .3);
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

.bg-primary {
  background-color: hsla(357, 49%, 52%, 1)!important;
}

#about {
  padding: 90px 0 30px 0;
}