// Styling for the navbar
#mainNav {
  border-color: fade-out($gray-darker, .95);
  background-color: white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-primary;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($theme-primary, .1);
    }
  }
  .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link:focus,
      > a.nav-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-darker;
        &:hover {
          color: $theme-primary;
        }
        &.active {
          color: $theme-primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: fade-out(white, .7);
    background-color: rgba(140, 199, 59, 0.74);
    .navbar-brand {
      color: fade-out(white, .3);
      &:focus,
      &:hover {
        color: white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out(white, .3);
      &:hover {
        color: white;
      }
    }
    &.navbar-shrink {
      border-color: fade-out($gray-darker, .95);
      background-color: white;
      .navbar-brand {
        font-size: 16px;
        color: $theme-primary;
        &:focus,
        &:hover {
          color: darken($theme-primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-darker;
        &:hover {
          color: $theme-primary;
        }
      }
    }
  }
}
